# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
.next/
out/
.turbo/

# env
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# test
coverage/
.vercel
.env*.local

# tesseract.js trained data files
*.traineddata