# dependencies
**/node_modules/
.pnpm-store/

# build outputs
**/dist/
**/.next/
**/out/
**/.turbo/

# env
.env
.env.local
.env.*.local
**/.env
**/.env.local
**/.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# test
**/coverage/

# vercel
.vercel
**/.vercel

# tesseract.js trained data files
*.traineddata

# typescript
*.tsbuildinfo
**/next-env.d.ts
